body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    margin: 20px 300px 20px 300px;
}

.form-row {
    padding: 20px;
    display: flex;
}

.form-row label {
    padding-right: 10px;
}

.form-row input {
    flex: 1;
}

.lesson-two {
    background-color: white;
    margin: 50px;
    padding: 20px 50px;
    display: flex;
    line-height: 1.65;
}

.main-section {
    flex: 2;
    order: 2;
    padding-left: 10px;
}

.side-bar-one {
    flex: 1;
    order: 1;
    padding-left: 10px;;
}

.side-bar-two {
    flex: 1;
    order: 3;
    padding-left: 10px;
    padding-right: 10px;
}

.feature-section {
    max-width: 1300;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.feature {
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    flex-basis: 30%;

}

.feature:nth-child(1) { 
    background-color: #c0dbe2;

}
.feature:nth-child(2) { 
    background-color: #cdf1c3;

}
.feature:nth-child(3) { 
    background-color: #ccb9da;
}